<form id="registration" >
  <div class="regI">
	<div>Логин</div><input type="text" id="_login" placeholder="ваше имя или ник"  />
  </div>
  <div class="regI">
    <div>Email</div><input type="mail" id="mail" placeholder="электронный адрес"  />
  </div>
  <div class="regI">
    <div>Пароль</div><input type="password" id="_passwd"  placeholder="пароль"  />
  </div>
  <div class="regI">
    <div>Повтор</div><input type="password" id="passwd2"  placeholder="повторите пароль" />
  </div>
<!--    <div class="regI">
    <div>Captcha</div><input type="password" id="passwd2"  placeholder="Напишите это число: 123" />
  </div> -->
  <div class="regI">
    <input type="submit" value="Создать аккаунт" id="reg" />
  </div>
</form>